<div class="flex flex-column gap-3">
    <div class="col-12 flex align-items-center column-gap-2">
        <p-button icon="pi pi-github" pTooltip="Home Page" (onClick)="onClickAES()"></p-button>
        pi pi-github
    </div>
    <div class="col-12 flex align-items-center column-gap-2">
        <p-button icon="material-icons mi-home" pTooltip="Home Page"></p-button>
        material-icons mi-home
    </div>
    <div class="col-12 flex align-items-center column-gap-2">
        <p-button icon="fa-solid fa-house" pTooltip="Home Page"></p-button>
        fa-solid fa-house
    </div>
</div>