<!-- 設置頁面主題 -->
<link rel="stylesheet" [href]="theme">

<!-- 主題菜單 -->
<p-sidebar [(visible)]="themeSidebar" position="right" [style]="{width:'30rem'}">
  <div *ngFor="let theme of themes">
    <h4>{{theme.title}}</h4>
    <div class="grid">
      <div *ngFor="let val of theme.values" class="col-3 flex flex-column gap-2">
        <ng-container *ngIf="val.value">
          <div class="relative">
            <p-button class="flex justify-content-center" styleClass="p-button-link" (onClick)="onClickTheme(val.value)"
              [ariaLabel]="val.value">
              <ng-container *ngIf="val.svg then svgView;else imgView"></ng-container>
              <ng-template #svgView>
                <svg>
                  <use [attr.xlink:href]="'/assets/images/themes.svg#'+val.svg" />
                </svg>
              </ng-template>
              <ng-template #imgView>
                <svg>
                  <use [attr.xlink:href]="'/assets/images/themes.svg#'+val.value" />
                </svg>
              </ng-template>
            </p-button>
            <i class="text-primary text-xl pi pi-check-circle absolute top-0 right-0" *ngIf="isTheme(val.value)"></i>
          </div>
          <div class="flex justify-content-center" style="font-size: 0.875rem;">{{val.label}}</div>
        </ng-container>
      </div>
    </div>
  </div>
</p-sidebar>


<div class="view" [ngSwitch]="view.state">
  <ng-template ngSwitchCase="load">
    <div style="text-align: center; margin-top: 4rem;">
      <i class="pi pi-spin pi-spinner" style="font-size: 8rem;"></i>
      <div class="text-4xl">loading</div>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="error">
    <p class="scalein animation-ease-in animation-duration-500">
      <p-message severity="error" [text]="view.error"></p-message>
    </p>
  </ng-template>
  <ng-template ngSwitchCase="ok">
    <div class="fadein animation-ease-in animation-duration-1000">
      <ng-container *ngTemplateOutlet="okView"></ng-container>
    </div>
  </ng-template>
</div>
<ng-template #okView>
  <!-- 保持頂部工具欄始終在屏幕最上方 -->
  <nav class="sticky top-0 z-5">
    <!-- 工具欄 -->
    <p-toolbar>
      <!-- p-toolbar-group-start 指定工具欄開始位置 -->
      <div class="p-toolbar-group-start gap-2">

        <a routerLink="/">
          <p-button icon="material-icons-outlined mi-home" [pTooltip]="i18nG.home |translate"></p-button>
        </a>

        <!-- dev -->
        <a routerLink="/dev" *ngIf="!env.production">
          <p-button icon="material-icons-outlined mi-api" pTooltip="Dev Page">
          </p-button>
        </a>
        <a routerLink="/404">
          <p-button icon="material-icons-outlined mi-highlight_off" pTooltip="404 Page" styleClass="p-button-danger">
          </p-button>
        </a>

      </div>

      <!-- p-toolbar-group-end 指定工具欄結束位置 -->
      <div class="p-toolbar-group-end gap-2">


        <a routerLink="/about">
          <p-button icon="material-icons-outlined mi-info" [pTooltip]="i18nG.about|translate"></p-button>
        </a>
        <p-button icon="material-icons-outlined mi-style" [pTooltip]="i18nG.themes| translate"
          (onClick)="themeSidebar=!themeSidebar">
        </p-button>
        <app-menu-language></app-menu-language>
      </div>
    </p-toolbar>
  </nav>


  <!-- 頁面正文 使用 margin-top 移動到工具欄下方 -->
  <div class="sticky top-0">
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- 在最下方顯示固定的頁腳內容 -->
    <footer class="flex flex-row align-items-center pt-2">
      <div class="flex flex-auto">
        <span>
          Generated by <a href="https://github.com/powerpuffpenguin/jsgenerate"
            target="_blank">https://github.com/powerpuffpenguin/jsgenerate</a></span>
      </div>
      <div class="flex">
        <a href="https://github.com/powerpuffpenguin/jsgenerate-template/tree/main/angular/angular-15" target="_blank">
          <p-button icon="pi pi-github" pTooltip="github">
          </p-button>
        </a>
      </div>
    </footer>
  </div>
</ng-template>